<div class="container">
    <h2 class="my-4">Coco</h2>
  
    <!-- Información sobre la papaya -->
    <div class="card mb-4">
      <img src="https://media.istockphoto.com/id/543564492/es/foto/coco-con-medias-y-hojas-sobre-fondo-blanco.jpg?s=612x612&w=0&k=20&c=CsYs4b5-q0HQfVP_MKFjxqOAAOcixjPapEzSe0BhS4I=" class="card-img-top" alt="Coco">
      <div class="card-body">
        <h5 class="card-title">Descripción del Coco</h5>
        <p class="card-text">
          El coco es un fruto tropical único, conocido por su cáscara dura y su pulpa blanca y deliciosa. Su interior está lleno de agua de coco refrescante, rica en electrolitos, que es ideal para la hidratación. La pulpa del coco es una fuente importante de grasas saludables, fibras, vitaminas y minerales como el potasio y el magnesio. Es muy versátil en la cocina, utilizándose en recetas dulces y saladas, desde postres y batidos hasta platos exóticos. El coco no solo es nutritivo, sino también un símbolo de los paraísos tropicales que invita a disfrutar de su sabor exótico.
        </p>
      </div>
    </div>
</div>

