<div class="container">
    <h2 class="my-4">Mango</h2>
  
    <!-- Información sobre el mango -->
    <div class="card mb-4">
      <img src="https://media.istockphoto.com/id/1352881713/es/foto/fruta-de-mango-con-gotas-aisladas-sobre-fondo-blanco.jpg?s=612x612&w=0&k=20&c=gbtAQbjcRwY40K6q9BNbwbxDtUDIOX0V_fFVPzOgNss=" class="card-img-top" alt="Mango">
      <div class="card-body">
        <h5 class="card-title">Descripción del Mango</h5>
        <p class="card-text">
          El mango es una fruta tropical muy apreciada por su sabor único y su jugosa textura. Su pulpa es dulce, aromática y tiene un color que varía entre amarillo y anaranjado. Originario del sur de Asia, el mango es rico en nutrientes esenciales como vitamina A, vitamina C y antioxidantes, que contribuyen a fortalecer el sistema inmunológico y a mantener una piel saludable. Además de ser delicioso, el mango es versátil en la cocina, pudiéndose disfrutar en ensaladas, jugos, postres o simplemente fresco. ¡Es una joya tropical llena de sabor y beneficios para la salud!
        </p>
      </div>
    </div>
  
 <!-- 
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" formControlName="nombre" />
        
        <div *ngIf="productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched">
          <small *ngIf="productoForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</small>
          <small *ngIf="productoForm.get('nombre')?.hasError('noNumeros')">El nombre no puede contener números.</small>
        </div>
      </div>
  
      <div>
        <label for="descripcion">Descripción</label>
        <input id="descripcion" formControlName="descripcion" />
        
        <div *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched">
          <small *ngIf="productoForm.get('descripcion')?.hasError('required')">La descripción es obligatoria.</small>
        </div>
      </div>
  
      
      <button type="submit" [disabled]="productoForm.invalid">{{ isEdit ? 'Actualizar Producto' : 'Crear Producto' }}</button>
    </form>
  

    <h2>Lista de Productos</h2>
    <ul>
      <li *ngFor="let producto of productos; let i = index">
        <p>{{ producto.nombre }} - {{ producto.descripcion }}</p>
        
        <button (click)="editProducto(i)">Editar</button>
        <button (click)="deleteProducto(i)">Eliminar</button>
      </li>
    </ul>-->  
  </div>
  