<div class="container">
    <h2 class="my-4">Papaya</h2>
  
    <!-- Información sobre la papaya -->
    <div class="card mb-4">
      <img src="https://www.shutterstock.com/image-photo/papaya-fruit-on-blue-background-600nw-2412640081.jpg" class="card-img-top" alt="Papaya">
      <div class="card-body">
        <h5 class="card-title">Descripción de la Papaya</h5>
        <p class="card-text">
          La papaya es una fruta tropical conocida por su pulpa suave, dulce y jugosa, con un característico color naranja vibrante. Originaria de América Central, es una excelente fuente de vitaminas A, C y E, así como de fibra y antioxidantes, lo que la convierte en un alimento ideal para apoyar la digestión y fortalecer el sistema inmunológico. Su sabor delicado y refrescante la hace perfecta para disfrutar en ensaladas, batidos, postres o sola como un snack saludable. La papaya es una fruta versátil que aporta un toque tropical y nutritivo a cualquier comida.
        </p>
      </div>
    </div>
</div>
