<div class="container">
    <h2 class="my-4">Piña</h2>
  
    <!-- Información sobre la papaya -->
    <div class="card mb-4">
      <img src="https://www.lekue.com/cdn-cgi/image/format=auto,onerror=redirect/media/wysiwyg/LEKUE/lekueblogs/portada-8.jpg" class="card-img-top" alt="Pinia">
      <div class="card-body">
        <h5 class="card-title">Descripción de la Piña</h5>
        <p class="card-text">
            La piña es una fruta tropical conocida por su sabor dulce y refrescante, con un toque ligeramente ácido. Su pulpa jugosa y aromática la convierte en una opción ideal para hidratarse y disfrutar de un placer natural. Es rica en vitamina C, manganeso y antioxidantes que fortalecen el sistema inmunológico y ayudan en la digestión gracias a su contenido de bromelina. La piña es muy versátil y se puede consumir fresca, en jugos, postres, ensaladas o incluso como ingrediente en platos salados. Su carácter exótico y vibrante la convierte en una fruta imprescindible para alegrar cualquier mesa.
        </p>
      </div>
    </div>
</div>
